$highlight: #f56714;
$main: #545454;
$links: #3d98c8;

$type: active;

* { //padding doesn't effect the width of the columns
	box-sizing: border-box;
}

html, body {
	font-family: arial;
}
.bold {
	font-weight: bold;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.wrapper {
	width: 1440px;
	max-width: 70%;
	margin: 0 auto;
}
#logo-nbwm {
	width: 475px;
	height: 39px;
}
#top-header {
	padding: 10px 285px 10px 285px;
	.first-line-info {
		display: flex;
    	justify-content: flex-end;
    	#phone-number {
    		margin: 0;
    		color: #999999;
    		font-weight: bold;
    	}
    	#user-info {
				background-color: #f3f3f3;
				padding: 0 20px 0 30px;
    		margin-left: 10%;
    		a {
    			margin-right: 10px;
    			font-weight: bold;
    			color: $main;
					text-decoration: none;
    		}
    	}
	}

	.languages {
		text-align: right;
    margin-top: -20px;
   	font-weight: bold;
		 a {
			 text-decoration: none;
		 }
   		a:first-child {
   			color: $links;
   		}
   		a:last-child {

   			color: #999999;
   		}
	}
}

#main-header {
	display: flex;
	line-height: 30px;
	background-color: #f3f3f3;
	width: 100%;
	padding: 10px 0 10px 280px;
	#home{
		height: 30px;
		margin-right: 1vw;
	}

	a {
		margin: 0 8px;
		color: #777;
		font-weight: bold;
		text-decoration: none;
		font-size: 14px;
		&:hover {
			color: $highlight;
		}

	}
	#home {
		background-image: url(../img/home.svg);
		background-repeat: no-repeat;
    	background-size: contain;
    	width: 30px;
		&:hover {
			background-image: url(../img/home-hover.svg);
			background-repeat: no-repeat;
    		background-size: contain;
		}
	}
}

#bedrijfsdocumenten, #ubo-documenten {
	.active {

		background-image: url(../img/arrow-rect.svg);
		background-size: cover;
		background-color: white;

		a {
			color: white;
		}

	}
	ul{
		display: flex;
		padding: 0;
		li:first-child {
			@if $type == active {
				background-color: #ccc;
			}
		}
		li {
			list-style-type: none;
    		padding: 15px 37px;
    		background-color: #ccc;

    		a {
    			color: #555555;
    			text-decoration: none;
    			font-size: 14px;
    			font-weight: bold;
    		}
    	}
	}

	p#info-bedrijfsnaam, #info-ubo, p {
			font-size: 14px;
    		line-height: 16px;
    		color: #545454;
    		line-height: 21px;
		}
	.checkbox-wrapper {
		display: flex;

		input[type="checkbox"] {
		width: 20px;
  		height: 20px;
  		margin-right: 10px;
  		margin-top: 10px;
	}
		a#add-maatschapij {
			color: $links;
			line-height: 40px;
			font-size: 14px;
		}
	}

	#info-ubo {
		.radio-btns {
			margin-top: 15px;
			margin-left: 30px;
			#ja , #nee {
				margin: 4px 4px 4px 15px;
			}
		}
	}
	#cards-wrapper{
		margin: 0 6%;
	}
	.row {
		    display: flex;
				#single-card-container {
					width: 26.5%;
				}
				.container-card {
					margin-right: 2.5%;
					padding: 10px;
					text-align: center;
					width: 30%;
					background-color: #ededed;
					border: 1px solid #ccc;
					margin: 20px 10px;

					.title-upload-card {
						font-size: 14px;
			    	line-height: 18px;
			    	color: #f56714;
			    	font-weight: bold;
						height: 37px;
					}
					#upload-btn {
						background-color: $highlight;
					    border: none;
					    color: white;
					    padding: 10px 15px;
					    text-align: center;
					    text-decoration: none;
					    display: inline-block;
					    font-size: 15px;
					    border-radius: 4px;
					}
					.doc-uploaded{
						display: flex;
						justify-content: center;
						img {
							width: 25px;
							height: 25px;
							margin-top: 6px;
							margin-left: 6px;
					}
					}
			}
	}
	.buttons-wrapper {
		float: right;
		margin: 40px 10px;
		#wijzigen-btn, #volgende-btn {
			background-color: $highlight;
		    border: none;
		    color: white;
		    padding: 10px 15px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 15px;
		    margin-right: 30px;
				border-radius: 4px;
		}
		#volgende-btn {
			background-color: #545454;
		}
	}

}
