* {
  box-sizing: border-box; }

html, body {
  font-family: arial; }

.bold {
  font-weight: bold; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

#nav-section {
  width: 100%;
  clear: both; }

.wrapper {
  max-width: 950px;
  margin: 0 auto; }

#logo-nbwm {
  width: 475px;
  height: 39px; }

#top-header {
  height: 77px;
  max-width: 950px;
  margin: 0 auto;
  padding-top: 20px; }
  #top-header .first-line-info {
    position: absolute;
    right: 11vw;
    top: -2px;
    width: auto;
    line-height: 20px;
    display: flex;
    padding-top: 5px; }
    #top-header .first-line-info #phone-number {
      margin: 0;
      color: #999999;
      font-weight: bold; }
    #top-header .first-line-info #user-info {
      background-color: #f3f3f3;
      padding: 0 20px 0 30px; }
      #top-header .first-line-info #user-info a {
        margin-right: 10px;
        font-weight: bold;
        color: #545454;
        text-decoration: none; }
  #top-header .languages {
    text-align: right;
    margin-top: -20px;
    font-weight: bold; }
    #top-header .languages a {
      text-decoration: none; }
    #top-header .languages a:first-child {
      color: #3d98c8; }
    #top-header .languages a:last-child {
      color: #999999; }

#nav-wrapper {
  display: flex;
  line-height: 30px;
  background-color: #f3f3f3;
  width: 100%;
  position: relative;
  min-height: 50px; }
  #nav-wrapper #main-nav {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 14%; }
  #nav-wrapper .menu {
    display: none; }
  #nav-wrapper a {
    color: #777;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 15px; }
    #nav-wrapper a:hover {
      color: #f56714; }
  #nav-wrapper #home-link {
    height: 30px;
    margin-right: 1vw;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px; }
    #nav-wrapper #home-link:hover {
      background-image: url(../img/home-hover.svg);
      background-repeat: no-repeat;
      background-size: contain; }

#bedrijfsdocumenten .active, #ubo-documenten .active {
  background-image: url(../img/arrow-rect.svg);
  background-size: cover;
  background-color: white; }
  #bedrijfsdocumenten .active a, #ubo-documenten .active a {
    color: white; }
#bedrijfsdocumenten ul, #ubo-documenten ul {
  display: flex;
  padding: 0; }
  #bedrijfsdocumenten ul li:first-child, #ubo-documenten ul li:first-child {
    background-color: #ccc; }
  #bedrijfsdocumenten ul li, #ubo-documenten ul li {
    list-style-type: none;
    padding: 15px 37px;
    background-color: #ccc; }
    #bedrijfsdocumenten ul li a, #ubo-documenten ul li a {
      color: #555555;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold; }
#bedrijfsdocumenten p#info-bedrijfsnaam, #bedrijfsdocumenten #info-ubo, #bedrijfsdocumenten p, #ubo-documenten p#info-bedrijfsnaam, #ubo-documenten #info-ubo, #ubo-documenten p {
  font-size: 14px;
  line-height: 16px;
  color: #545454;
  line-height: 21px; }
#bedrijfsdocumenten .checkbox-wrapper, #ubo-documenten .checkbox-wrapper {
  display: flex; }
  #bedrijfsdocumenten .checkbox-wrapper input[type="checkbox"], #ubo-documenten .checkbox-wrapper input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px; }
  #bedrijfsdocumenten .checkbox-wrapper a#add-maatschapij, #ubo-documenten .checkbox-wrapper a#add-maatschapij {
    color: #3d98c8;
    line-height: 40px;
    font-size: 14px; }
#bedrijfsdocumenten #info-ubo .radio-btns, #ubo-documenten #info-ubo .radio-btns {
  margin-top: 15px;
  margin-left: 30px; }
  #bedrijfsdocumenten #info-ubo .radio-btns #ja, #bedrijfsdocumenten #info-ubo .radio-btns #nee, #ubo-documenten #info-ubo .radio-btns #ja, #ubo-documenten #info-ubo .radio-btns #nee {
    margin: 4px 4px 4px 15px; }
#bedrijfsdocumenten #cards-wrapper, #ubo-documenten #cards-wrapper {
  margin: 0 6%; }
#bedrijfsdocumenten .row, #ubo-documenten .row {
  display: flex; }
  #bedrijfsdocumenten .row #single-card-container, #ubo-documenten .row #single-card-container {
    width: 26.5%; }
  #bedrijfsdocumenten .row .container-card, #ubo-documenten .row .container-card {
    margin-right: 2.5%;
    padding: 10px;
    text-align: center;
    width: 30%;
    background-color: #ededed;
    border: 1px solid #ccc;
    margin: 20px 10px; }
    #bedrijfsdocumenten .row .container-card .title-upload-card, #ubo-documenten .row .container-card .title-upload-card {
      font-size: 14px;
      line-height: 18px;
      color: #f56714;
      font-weight: bold;
      height: 37px; }
    #bedrijfsdocumenten .row .container-card #upload-btn, #ubo-documenten .row .container-card #upload-btn {
      background-color: #f56714;
      border: none;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      border-radius: 4px; }
    #bedrijfsdocumenten .row .container-card .doc-uploaded, #ubo-documenten .row .container-card .doc-uploaded {
      display: flex;
      justify-content: center; }
      #bedrijfsdocumenten .row .container-card .doc-uploaded img, #ubo-documenten .row .container-card .doc-uploaded img {
        width: 25px;
        height: 25px;
        margin-top: 6px;
        margin-left: 6px; }
#bedrijfsdocumenten .buttons-wrapper, #ubo-documenten .buttons-wrapper {
  float: right;
  margin: 40px 10px; }
  #bedrijfsdocumenten .buttons-wrapper #wijzigen-btn, #bedrijfsdocumenten .buttons-wrapper #volgende-btn, #ubo-documenten .buttons-wrapper #wijzigen-btn, #ubo-documenten .buttons-wrapper #volgende-btn {
    background-color: #f56714;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 30px;
    border-radius: 4px; }
  #bedrijfsdocumenten .buttons-wrapper #volgende-btn, #ubo-documenten .buttons-wrapper #volgende-btn {
    background-color: #545454; }

@media only screen and (max-width: 768px) {
  #nav-wrapper {
    display: block; }

  #main-nav {
    display: none; }

  .menu {
    display: block !important;
    float: right;
    padding-bottom: 10px; }
    .menu i {
      font-size: 1.5em;
      color: #545454; }

  #main-nav.mobile-active {
    display: block;
    width: 100%; }
    #main-nav.mobile-active #home-link {
      display: none; }
    #main-nav.mobile-active a {
      display: block;
      padding: 1em 0; } }

/*# sourceMappingURL=styles.css.map */
